# Core Python dependencies  
python-dotenv==1.1.0    # For managing environment variables  
#requests==2.31.0        # For API calls (e.g., weather updates)  

# Speech Recognition  
SpeechRecognition==3.14.2	# For converting speech to text  
pyaudio==0.2.14			# Required for live audio processing  

# Natural Language Processing (NLP)  
#nltk==3.8.1              # NLP toolkit  
#spacy==3.6.1             # Alternative NLP framework  
#transformers==4.36.2     # If using LLMs for advanced responses  

# Text-to-Speech (TTS)  
pyttsx3==2.98            # Offline TTS  
#gTTS==2.4.0              # Google Text-to-Speech (online)  

# Automation (for launching applications & searching files)  
#pyautogui==0.9.54        # For controlling the OS  
#pygetwindow==0.0.9       # For managing windows  
#keyboard==0.13.5         # For handling keyboard input  

# GUI (Optional, if building a graphical interface)  
#tkinter                   # Built-in for basic GUI  
PyQt5
pyqt5-tools

# Testing  
#pytest==8.0.0           # For writing unit tests  
